#---Files/Directories to ignore for the Library---#


#Ignore Build Directory
**/build

#ignore rake file
rakefile.rb

#Ignore the support material for the test dir
./test/support

#Ignore the simulation files
/test/simulation/out.txt

#Ignore Ceedling Files
**/vendor

#Ignore Docs Folder
**/Docs

#Ignore VS Code Files
.vscode/